html{
	background-color: #440000;
}

body{
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
	height: 100%;
}

h4{
	margin: 0;
}

/*Responsiveness stuff*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.responsive *{
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: block;
}

/*End of responsiveness*/

.centerh{
	text-align: center;
}

/*Template stuff*/
#headerBar{
	background-color: #6A1111;
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	height: 45px;
	border-bottom: solid 3px rgba(0,0,0,0.7);
}

#headerBar div{
	width: 940px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

#logo{
	padding-left: 5px;
	height: 45px;
	margin-top: auto;
	margin-bottom: auto; 
	width: auto;
}

ul{
	font-size: 0;
}

#fullmenu{
	margin: 0px;
	padding: 0px;
	position: relative;
	text-decoration-style: none;
	float: right;
}

#fullmenu li{
	display: inline-block;
	font-size: 16px;
	text-align: center;
	padding: 15px;
	border-right: solid 3px #801515;
}

#fullmenu .last{
	border-right: 0; 
}

#fullmenu li:hover a{
	color: white;
}

a{
	text-decoration: none;
	color: #FFDDDD;
}

a:hover{
	color: white;
}

#banner{
	line-height: 0;
}

#bannerimg{
	width: 100%;
	height: auto;
	border-bottom: solid 3px #000000;
}

/*Content stuff*/
#content{
	background-color: #801515;
	position: relative;
	margin: auto;
	width: 940px;
	border-left: solid 2px #330000;
	border-right: solid 2px #330000;
	padding: 20px;
	color: #FFDDDD;
	height: 100%;
}

.pageTitle{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 15px;
	border-bottom: solid 3px #6A1111;
}

/*List tiles from the What's On? page*/
#whatsOnList{
	width: 100%;
	border-bottom: solid 3px #6A1111;
	padding-top: 20px;
	padding-bottom: 37px;
	margin-right: 45px;
	display: inline-block;
}

#whatsOnList:hover{
	background-color: #961919;
}

.filmthumb{
	height: 300px !important;
	width: auto !important;
}

#whatsOnList .filmthumb{
	float: left;
	padding-left: 25px;
	padding-right: 50px;
}

#whatsOnList .filmtext{
	font-size: 14px !important;
	display: block;
	padding-right: 25px;
	height: 100%;
}

.tileHeading{
	color: #330000;
	margin-top: 10px;
}

.bookButton{
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #330000;
	border: 0;
	font-weight: bold;
	color: #FFDDDD;
	float: bottom;
}

/*Youtube embedding*/
.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#filmBlurb{
	background-color: #961919;
	width: 100%;
	border-bottom: solid 3px #6A1111;
	padding-top: 20px;
	padding-bottom: 37px;
	margin-right: 45px;
	display: inline-block;
}

#filmBlurb .filmthumb{
	float: left;
	padding-left: 25px;
	padding-right: 50px;
}

.showingTimes{
	display: inline;
}

.showingTimeButton{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 15px;
}

.selectableShowing{
	padding-left: 25px;
	padding-top:10px;
	padding-bottom: 10px;
	border-bottom: solid 3px #6A1111;
}

.selectableShowing:hover{
	background-color: #961919;
}

/*Footer*/
#footer{
	background-color: #6A1111;
	text-align: center;
	height: 50px;
	color: #FFDDDD;
	border-top: solid 3px #000000;
}

#footer .mainList{
	width: 940px;
	margin: auto;
}

#footer .mainList div{
	font-size: 14px;
	color: #D46A6A;
	width: 33%
}
